@charset "UTF-8";
/*********************
HOME
*********************/
/***Déclaration des variables***/
.section__homepage {
  height: 560px;
  color: #96A1AE;
  padding-left: 12%;
  overflow: hidden;
}

.section__homepage .wp-block-media-text__media {
  position: relative;
  margin-right: -27rem;
  -webkit-transform: skew(-10deg, 0);
          transform: skew(-10deg, 0);
  overflow: hidden;
}

.section__homepage .wp-block-media-text__media img {
  height: 560px;
  width: auto;
  -webkit-transform: skew(10deg, 0) translateX(-5rem);
          transform: skew(10deg, 0) translateX(-5rem);
}

.section__homepage .wp-block-media-text__media:after {
  position: absolute;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, rgba(98, 196, 221, 0.55)), to(rgba(98, 196, 221, 0)));
  background: linear-gradient(270deg, rgba(98, 196, 221, 0.55) 50%, rgba(98, 196, 221, 0) 100%);
  top: 0;
  bottom: 0;
  left: 0;
}

.section__homepage a {
  text-decoration: none;
  background-color: #62C4DD;
  border: 1px solid #62C4DD;
  color: white;
  padding: 8px 20px;
  border-radius: 40px;
  margin-top: 48px;
  -webkit-transition: .2s;
  transition: .2s;
}

.section__homepage a:hover {
  color: #62C4DD;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

.section__homepage .wp-block-media-text__content {
  line-height: 32px;
  text-align: left;
  padding: 0 56px 0 0;
}

.section__missions {
  padding: 64px 12% 122px 12%;
  background-color: #F4F4F4;
}

.section__missions__content .wp-block-group__inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.section__missions__content__buttons {
  width: 50%;
  margin: auto;
}

.section__missions__content__buttons .wp-block-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.section__missions__content__buttons .wp-block-button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  width: 100%;
  color: #96A1AE;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  -webkit-box-shadow: 2px 0px 30px rgba(53, 130, 222, 0.25);
          box-shadow: 2px 0px 30px rgba(53, 130, 222, 0.25);
  border-radius: 10px;
  padding: 26px 32px;
  margin: 24px 0;
}

.section__missions__content__buttons .wp-block-button a:hover {
  color: #96A1AE;
}

.section__missions__content__buttons .wp-block-button__link--active a::after {
  content: "";
  width: 32px;
  height: auto;
  background-image: url("../images/polygon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.section__missions__content__texts {
  width: 50%;
  margin: auto;
}

.section__missions__content__texts p {
  font-size: 22px;
  line-height: 32px;
  padding-left: 32px;
}

.section__missions__content__texts p a {
  color: #62C4DD;
  text-decoration: none;
  font-weight: 700;
}

.section__missions__content__texts p:nth-child(2) {
  display: none;
}

.section__comprendre-et-agir {
  padding: 64px 12% 48px 12%;
}

.section__comprendre-et-agir .posts__comprendre_et_agir .post__comprendre_et_agir__videos article {
  width: 70%;
  height: 88%;
  background: #FFFFFF;
  -webkit-box-shadow: 2px 0px 30px rgba(98, 196, 221, 0.25);
          box-shadow: 2px 0px 30px rgba(98, 196, 221, 0.25);
  border-radius: 10px;
  padding: 8px 0;
  margin: 16px auto;
}

.section__comprendre-et-agir .posts__comprendre_et_agir .post__comprendre_et_agir__videos article h4 {
  font-weight: 900;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  padding: 24px 24px 18px 24px;
}

.section__comprendre-et-agir .posts__comprendre_et_agir .post__comprendre_et_agir__videos article p {
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  padding: 0 24px 0 24px;
}

.section__comprendre-et-agir .posts__comprendre_et_agir .post__comprendre_et_agir__videos article p:nth-child(2) {
  color: #96A1AE;
  margin-bottom: 16px;
}

.section__comprendre-et-agir .posts__comprendre_et_agir .post__comprendre_et_agir__videos article p:nth-child(3) {
  text-align: right;
}

.section__comprendre-et-agir .posts__comprendre_et_agir__video {
  border-radius: 10px;
  margin: 8px 36px;
}

.section__comprendre-et-agir .posts__comprendre_et_agir__video iframe {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.section__comprendre-et-agir a {
  font-weight: 300;
  font-size: 18px;
  line-height: 34px;
  color: #62C4DD;
  border-left: 2px solid #62C4DD;
}

.section__comprendre-et-agir a::after {
  content: "";
  width: 25px;
  height: auto;
  margin: 0 8px 0 24px;
  background-image: url("../images/arrow_right.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.sections__actus {
  padding: 64px 12% 48px 12%;
}

.sections__actus__posts .sections__actus__post article {
  width: 70%;
  height: 95%;
  background: #FFFFFF;
  -webkit-box-shadow: 2px 0px 30px rgba(98, 196, 221, 0.25);
          box-shadow: 2px 0px 30px rgba(98, 196, 221, 0.25);
  border-radius: 10px;
  padding: 8px 0;
  margin: 6px auto 5% auto;
}

.sections__actus__posts .sections__actus__post h4 {
  font-weight: 900;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  padding: 24px 24px 18px 24px;
}

.sections__actus__posts .sections__actus__post .sections__actus__post--green {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #7EBB59;
  margin-bottom: 16px;
  padding: 0 24px;
}

.sections__actus__posts .sections__actus__post__excerpt {
  font-size: 15px;
  line-height: 24px;
  color: #96A1AE;
  margin: 16px 0 24px 0;
  padding: 0 24px;
}

.sections__actus__posts .sections__actus__post__image {
  width: 100%;
  height: 167px;
  overflow: hidden;
  background-color: rgba(150, 161, 174, 0.3);
}

.sections__actus__posts .sections__actus__post__image img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}

.sections__actus__posts .sections__actus__post a {
  background-color: #62C4DD;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 9px 18px;
  border-radius: 32px;
  margin: 0 24px;
}

.section__partenaires {
  padding: 64px 12%;
  background-color: #F4F4F4;
}

.section__partenaires .blocks-gallery-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: auto;
}

.section__partenaires .blocks-gallery-grid img {
  margin: auto;
}
/*# sourceMappingURL=front-page.css.map */