/*********************
BODY
*********************/

/***Déclaration des variables***/
$gray : #96A1AE;
$blue : #62C4DD;

body
{
    font-family: 'Montserrat', sans-serif;
}

div.wrap
{
    padding : 0 12%;
}

strong
{
    font-weight: 700;
}

em
{
    font-style : italic;
}

h2
{
    color : $blue;
    font-size: 36px;
    line-height: 59px;
    font-weight: 700;
    margin : 0 0 72px 0;
    img
    {
        width: 53px;
        height: auto;
        vertical-align: middle;
        margin-right: 18px;
    }
}
