/*********************
BODY
*********************/

/***Déclaration des variables***/
$gray : #96A1AE;
$blue : #62C4DD;

div.wrap
{
    font-family: 'Montserrat', sans-serif;
    padding : 0 12%;
    strong
    {
        font-weight: 700;
    }
}