/*********************
BODY
*********************/

/***Déclaration des variables***/
$gray : #96A1AE;
$blue : #62C4DD;

body
{
    font-family: 'Montserrat', sans-serif;
}

div.wrap
{
    padding : 0 12%;
}

strong
{
    font-weight: 700;
}